*{
    margin: 0;
    padding: 0;
    font-size: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;/*largura*/
    min-height: 100vh;/*comprimento*/
    background-color: darkslategray;
    padding: 10px;
}

.todo-web{
    width:100% ;
    max-width: 540px;
    background-color: bisque;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px ;
}

.todo-web h2{
    color: #002765 ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;/**/
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #9c7b78;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding:12px 8px 12px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li ::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top:  12px;left: 8px;
}